* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive; 
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Tangerine', cursive; 
}

p, strong, i, span {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

.logo {
  position: fixed;
  top: 25px;
  left: 25px;
  width: 100px;
  height: auto;
}

.main_hero {
  width: 100vw;
  height: 80vh;
  background-image: url('images/Vineyard_hero.jpg');
  background-position: top;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.main_hero h1 {
  font-family: 'Tangerine', cursive; 
  font-weight: 700;
  margin: 15vh 0 0 0;
  text-align: center;
}

.menu {
  text-align: center;
  padding: 5%;
}

.menu p {
  width: 40%;
  margin: 1% auto;
}

.menu img {
  margin: 2%;
}

.staff_list {
  padding: 5%;
  background: #eeeeee;
}

.staff_list h2 {
  text-align: center;
}

.staff_list .intro-text {
  width: 40%;
  margin: 1% auto;
  text-align: center;
}

.staff-member {
  width: 80%;
  margin: 5% auto;
  display: flex;
}

.staff-info {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.staff-photo {
  width: 400px;
  height: auto;
  border-radius: 100%;
  overflow: hidden;
  border: 4px solid black;
}

.tours {
  padding: 5%;
  text-align: center;
  background: #333333;
  color: white;
}

.tours p {
  width: 40%;
  margin: 1% auto;
}

.tours h3 {
  margin: 1.5% 0;
}

table {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
  border-radius: 15px;
  background: white;
  color: black;
}

td {
  font-size: 1.5rem;
  font-weight: bold;
  border-top: 1px solid black;
  padding: 5%;
}

th {
  font-size: 2.5rem;
}

.special-events {
  padding: 5%;
  background-image: url('images/Events_image.jpg');
  height: 80vh;
  background-position: left;
  text-align: center;
}

.special-events p {
  width: 40%;
  margin: 0 auto;
}

footer {
  height: 5vh;
  background: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1% 5%;
}

footer p {
  font-size: .5rem;
}

@media screen and (max-width: 768px) {
  .menu img {
    width: 100%;
  }

  .main_hero h1 {
    margin: 25vh 0 0 0;
  }

  .menu p, .staff_list .intro-text, .staff-info, .staff_list, .tours p, .special-events p {
    width: 100%;
  }

  .staff-member {
    flex-direction: column;
    margin: 10% auto
  }

  .staff-photo {
    width: 250px;
    align-items: center;
  }
  table {
    width: 100%;
  }

  th {
    font-size: 2rem;
  }
}


/* Secret Website */
.secretMenu {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  color: #ffffff;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.secretMenu h1 {
  width: 100%;
  padding: 2.5% 5%;
  text-align: center;
}

.secretMenu ul {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secretMenu ul li {
  list-style-type: none;
}

.secretMenu .currentCount {
  position: fixed;
  top: 2%;
  left: 2%;
  color: #ffffff;
  font-weight: bold;
}